[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/gwen/Desktop/SCREEN.sh]
row=1
col=2

[/home/gwen/Desktop/texture-converted-1371171709341]
row=1
col=0

[/home/gwen/Desktop/Robocraft.desktop]
row=7
col=1

[/home/gwen/Desktop/Team Fortress 2.desktop]
row=4
col=0

[/home/gwen/Desktop/graphics tablet.sh]
row=1
col=1

[Android]
row=0
col=2

[F27A47687A472925]
row=5
col=0

[3d9fc004-1810-3c3a-8190-7ddc8d1b8748]
row=6
col=0

[6eac83ab-71da-4610-9bff-4ee6a37bf228]
row=6
col=1

[/home/gwen]
row=0
col=0

