[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/gwen/Desktop/SCREEN.sh]
row=1
col=2

[/home/gwen/Desktop/graphics tablet.sh]
row=3
col=1

[/home/gwen/Desktop/Team Fortress 2.desktop]
row=4
col=0

[/home/gwen/Desktop/Robocraft.desktop]
row=7
col=1

[F27A47687A472925]
row=5
col=0

[C7CD-EA00]
row=3
col=0

[20FC4559FC4529FC]
row=2
col=0

[327faed9-4ed7-4351-a0f0-f4a088eafc7b]
row=1
col=0

[3d9fc004-1810-3c3a-8190-7ddc8d1b8748]
row=5
col=1

[6eac83ab-71da-4610-9bff-4ee6a37bf228]
row=6
col=1

[Android]
row=0
col=2

[Blank CD-RW Disc]
row=6
col=0

[/home/gwen]
row=0
col=0

