[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/gwen/Desktop/Minecraft.jar]
row=1
col=0

[/home/gwen/Desktop/zork1.zip]
row=3
col=0

[/home/gwen/Desktop/Service Center.desktop]
row=0
col=0

[/home/gwen/Desktop/Fall schedule.png]
row=8
col=0

[/home/gwen/Desktop/Robocraft.desktop]
row=2
col=1

[/home/gwen/Desktop/Tron.m4v]
row=5
col=1

[/home/gwen/Desktop/quetin_lambe_eldaiva_env2.pdf.gz]
row=2
col=0

[/home/gwen/Desktop/texture-converted-1371171709341]
row=6
col=1

[/home/gwen/Desktop/Launch Eos Family.desktop]
row=4
col=0

[/home/gwen/Desktop/graphics tablet.sh]
row=0
col=1

[/home/gwen/Desktop/Controller Editor.lnk]
row=3
col=1

[/home/gwen/Desktop/Controller Editor.desktop]
row=1
col=1

[/home/gwen/Desktop/WindowsFrotz.zip]
row=6
col=0

[/home/gwen/Desktop/Winter schedule.png]
row=7
col=0

[/home/gwen/Desktop/Manuals]
row=5
col=0

[/home/gwen/Desktop/Service Center.lnk]
row=7
col=1

[Floppy Disk]
row=4
col=1

[6eac83ab-71da-4610-9bff-4ee6a37bf228]
row=0
col=4

[4320-0817]
row=1
col=2

[b8d01e575aed8266bcfe9186ec807803e8e40319]
row=0
col=2

[F27A47687A472925]
row=3
col=3

[3d9fc004-1810-3c3a-8190-7ddc8d1b8748]
row=0
col=5

[/home/gwen]
row=2
col=3

