[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/gwen/Desktop/Night skyline.JPG]
row=2
col=1

[/home/gwen/Desktop/another]
row=7
col=0

[/home/gwen/Desktop/edit for grandma]
row=6
col=0

[/home/gwen/Desktop/for grandma cropped.jpg]
row=8
col=0

[/home/gwen/Desktop/for grandma.jpg]
row=0
col=1

[20FC4559FC4529FC]
row=2
col=0

[05ad1221-23ef-3113-b432-34b497fe826d]
row=1
col=1

[2A804A47804A1A29]
row=5
col=0

[C7CD-EA00]
row=3
col=0

[327faed9-4ed7-4351-a0f0-f4a088eafc7b]
row=1
col=0

[DA2A-E6BD]
row=4
col=0

[/home/gwen]
row=0
col=0

